.menu1 ul{
	position: absolute;
	z-index: 999;
}

.break{
	clear: both;
	height: 10px;
	width: 100%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.break90{
	clear: both;
	height: 10px;
	width: 90%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.space20{
	height: 20px;
	width: 100%;
}


.row-item{
	padding-left:15px;
}

.border-left{
	border-left: 1px solid #EEEEEE;
}

.border-right{
	border-right: 1px solid #EEEEEE;
}

a{
	color:black;
}

a:hover{
	text-decoration: none;
}

.myheader{
	background-color: #337AB7;
	color:white;
}

.clear{
	clear:both;
}
.row{
	margin-right: 0px!important;
	margin-left: 0px!important
}
.navbar-inverse .navbar-nav>li>a {
    color: #edeff2;
}
.navbar-inverse .navbar-brand {
    color: #edeff2;
    text-transform: uppercase;
}
.custom-select{
	display:inline-block;
	width:100%;
	height:calc(2.25rem + 2px);
	padding:.375rem 1.75rem .375rem .75rem;
	line-height:1.5;
	color:#495057;
	vertical-align:middle;
	background:#fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	background-size:8px 10px;
	border:1px solid #ced4da;
	border-radius:.25rem;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none
}
.custom-select-lg{
	height:calc(2.875rem + 2px);
	padding-top:.375rem;
	padding-bottom:.375rem;
	font-size:125%
}